<html>
<body>

<h1>This is Ansible Demo Man...</h1>
<p>{{My_Sarang_Message}}</p>
<p>{{My_Sarang_DB_Message}}</p>
<p>{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}</p>

</body>
</html>
